# Setup uv

if [[ -d ".venv" ]]; then
    VIRTUAL_ENV="$(pwd)/.venv"
else
    log_status "No virtual environment exists. Executing \`uv sync\` to create one."
    uv sync
    VIRTUAL_ENV="$(pwd)/.venv"
fi

PATH_add "$VIRTUAL_ENV/bin"

# check if "python -m maturin_import_hook site info" doesn't contains "import_hook_installed: True"
if ! python -m maturin_import_hook site info | grep -q "import_hook_installed: True"; then
    log_status "Maturin import hook is not installed. Installing..."
    python -m maturin_import_hook site install
fi

export UV_ACTIVE=1  # or VENV_ACTIVE=1
export VIRTUAL_ENV

# Other settings
export TEXTUAL="devtools,debug"
export FNUG_LOG_LEVEL="DEBUG"
