ContextMenu {
  background: rgba(0,0,0,0.35);
}

#container {
    background: $background;
}

.options {
  width: 100%;
  padding: 0 1;
}

.options:hover {
  background: $boost;
  text-style: underline;
}
